
.MainContainer{
    header{

        position: relative;
        
        display: flex;
        .main2Img{
            width: 50%;
            position: relative;
        }
        
        .mainBtn{
            position: absolute;
            left: 67%;
            top: 10%;
            background-color: #808000;
            
            border-radius: 2.5rem;
            width: 200px;
            height: 100px;
            border: none;
            color: @header-font-color;
             
            font-size: 2rem;

        }
        .mainImg{
            width: 50%;
        }
        .centerText{
            color: @header-font-color;
            font-size: 3.8rem;
            position: absolute;
            top: 75%;
            left: 10%;

        }
    }

    .Container{
        margin-top: 5%;
        margin-left: 100px;
        padding-bottom: 5%;
        max-width: 1200px;
        width: 100%;
        background-color: @main-background-color;

    }
    .intro{
        margin: 0 10%;
        padding-top: 5%;
    }
    .pCol{
        height: 600px;
        display: flex;
        justify-content:center;
        justify-content: space-around;
        .Col1, .Col2{
            width: 40%;
        }
        .Col1{
            margin-top: 2%;
        }
        // .ColImg{
        //     width: 80%;
        //     margin-top: 5%;
        //     margin-left: 5%;
        // }
    }
    .ColImg{
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .ColImg2{
        width: 50%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .pBottom{  
        line-height: 1.5rem;
        margin-left: 5%;
        padding-top: 5%;
        p{
            width: 90%;
        }
        .pB1{
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }
    .pBottom2{  
        
        margin: 10% 10%;
        h2{
            text-align: center;
        }
        p{
            margin-left: 5%;
            text-align:center;
            font-size: 2rem;
            width: 90%;
        }
    }
    .pb2{
        display: flex;
        img{
            width: 30%;
        }
    }
    
    








}