
.MainContainer{
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: bottom;
        .pictureDiv{
          background-image: url("../images/DroneOverOcean.jpg");
          width: 100%;
          height: 1200px;
          background-repeat: no-repeat;
          background-size: contain;
        
          position: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        display: flex;
        justify-content: center;
        
        
        
        // header{
        //     width: 100%;
        //     background-image: url("../../images/DroneOverOcean.jpg");
        //     position: fixed;
        // }
        .RentLend{
            margin-top: 700px;
            position: relative;
            background-color: #F6F6F8;
            height: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: space-evenly;
            h2{
              font-weight: bold;
              color: @RentLend-color;
            }
        }
        .btnAlign{
            padding-top: 20px;
            width: 600px;
            height: 400px;
            display: flex;
            justify-content: center;
            justify-content: space-between;
            align-items: center;
            
        }
        .main1Btn{
            
            background-color: @Rent;
            
            border-radius: 2.5rem;
            width: 200px;
            height: 100px;
            border: none;
            color: @header-font-color;
            color: @btn-text-color;
            font-size: 2.5rem;
            font-weight: bold;


        }
        .main2Btn{
            
            background-color: @Lend;
            
            border-radius: 2.5rem;
            width: 200px;
            height: 100px;
            border: none;
            
            color: @btn-text-color;
            font-size: 2.5rem;
            font-weight: bold;

        }
        .whiteSpace{
            
            
            //background-color: white;
            height: 200px;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 15%;
        }
        .centerText{
            position: fixed;;
            padding-top: 60px;
            width: 400px;
            
            
            h2{
                font-size: 4.8rem;
                font-weight: bold;
                text-align: center;
                line-height: 2rem;
                color: @header-title-color;
            }
            .big{
                padding-bottom: 2px;
                width: 50%;
                font-size: 5.8rem;
                border-bottom: 3px solid @header-title-color;
            }
        }
    }
    .wrapper{
        position: relative;
        background-color: blue;
        height: 800px;
        width: 100%;
        
        .main2Img{
            height: 800px;
            width: 100%;
            background-image: url("../images/mainGadgets.jpg");
            background-color: grey;
            background-size: cover;
            position: relative;
        }
    
    }
    // .main2Img{
    //     height: 400px;
    //     width: 100%;
    //     background-image: url("../images/mainGadgets.jpg");
    //     background-color: grey;
    //     background-size: cover;
    //     position: fixed;
    // }
    .Container{
        position: relative;
        //margin-top: 5%;
        //margin-left: 100px;
        padding-bottom: 5%;
        //max-width: 1200px;
        width: 100%;
        // background-color: @main-background-color;
        background-color: white;
    }
    
    
    #intro{
        margin: 0 10%;
        padding-top: 5%;
    }
    .pCol{
        height: 600px;
        display: flex;
        justify-content:center;
        justify-content: space-around;
        .Col1, .Col2{
            width: 40%;
        }
        .Col1{
            margin-top: 2%;
        }
        // .ColImg{
        //     width: 80%;
        //     margin-top: 5%;
        //     margin-left: 5%;
        // }
    }
    // .RentLend{
    //     position:relative;
    //     background-color: grey;
    //     height: 300px;
    //     width: 100%;

    // }
    .ColImg{
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .ColImg2{
        width: 80%;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 1;
    }
    #pBottom{  
        line-height: 1.5rem;
        margin-left: 5%;
        padding-top: 5%;
        z-index: 0;
        p{
            padding: 2.5%;
            margin-top: 5%;
            background-color: @pBottom-color;
            color: white;
            width: 90%;
        }
        .pB1{
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }
    .pBottom2{  
        
        margin: 10% 10%;
        h2{
            text-align: center;
        }
        p{
            
            margin-left: 5%;
            text-align:center;
            font-size: 2rem;
            width: 90%;
        }
    }
    .pb2{
        display: flex;
        img{
            width: 30%;
        }
    }
    
    








}