nav{
    width: 500px;
    display: flex;
    margin-top: 30px;
    margin-left: 80px;
    justify-content: space-around;
   
    position: absolute;
    font-size: 3rem;
    
    
    a{
        text-decoration: none;
        color: @header-font-color;
    }
}